<!-- /templates/cart.liquid -->
{% comment %}

  For info on test orders:
    - General http://docs.shopify.com/manual/your-store/orders/test-orders
    - Shopify Payments - http://docs.shopify.com/manual/more/shopify-payments/testing-shopify-payments

{% endcomment %}

<main>
<div class="cn-wrapper cn-wrapper--top">
  {% if cart.item_count > 0 %}
    <form action="/cart" method="post" novalidate class="cart table-wrap fullpage-shopping-cart-content">
      <div class="cart-container">
        <h2 class="cart-title">SHOPPING CART</h2>
        <div class="cart-table full table--responsive">
          <div class="cart__row cart__header-labels">
            <span class="item-label"><span>ITEM</span></span>
            <div class="item-img"></div>
            <div class="item-desc"></div>
            <div class="item-qty"><span class="item-label"><span>QTY.</span></span></div>
            <div class="item-price"><div class="item-label"><span>PRICE</span></div></div>
          </div>
          <div class="cart-item-list table">
            {% for item in cart.items %}              
              <div class="remove content-group">
                <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0" class="cart__remove remove-item">x</a>
              </div>
              <div data-label="{{ 'customer.order.product' | t }}" class="item content-group">
                <div>
                  <a href="{{ item.url | within: collections.all }}" class="cart__image">
                    <img src="{{ item | img_url: '100x' }}" alt="{{ item.title | escape }}">
                  </a>
                </div>
              </div>
              <div>
                <div class="item-desc">
                  <div class="item-title">
                    <a href="{{ item.url | within: collections.all }}">{{ item.product.title }}</a>
                  </div>
                  <div class="variant-info">
                    {{ item.variant.title }}
                  </div>
                </div>
              </div>
              <div data-label="{{ 'cart.label.quantity' | t }}" class="quantity content-group">
                <input type="number" name="updates[]" id="updates_{{ item.key }}" data-id="{{ item.key }}" size="1" value="{{ item.quantity }}" min="0">
              </div>
              <div data-label="{{ 'cart.label.price' | t }}" class="price content-group">
                {{ item.price | money }}
              </div>
            {% endfor %}
          </div>
        </div>
        <div class="grid cart__row">
          <div class="grid__item text-right{% if settings.cart_notes_enable %} one-third small--one-whole{% endif %}">
            <div class="subtotal">
              <span class="label">{{ 'cart.general.subtotal' | t }}</span>
              <span class="price">{{ cart.total_price | money }}</span>
            </div>
            {% if cart.total_discounts > 0 %}
              {% assign savings = cart.total_discounts | money %}
              <p>
                <span class="cart-subtotal__savings"><em>{{ 'cart.general.savings_html' | t: price: savings }}</em></span>
              </p>
            {% endif %}
            <div class="checkout">
              <button type="submit" name="update" class="btn--secondary update-cart">{{ 'cart.general.update' | t }}</button>
              <button type="submit" name="checkout" class="add-to-cart-button suppress-edit-mode editable-button checkout-button btn">Checkout</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  {% else %}
    {% comment %}
      The cart is empty
    {% endcomment %}
    <div class="fullpage-shopping-cart-content empty">
      <div class="empty-message">
        <span>You have nothing in your shopping cart.</span>
        <a href="/">Continue Shopping</a>
      </div>
    </div>
  {% endif %}
</div>
</main>