<!-- /templates/page.about.liquid -->
<main>
    <div class="cn-heroimage cn-heroimage--about"></div>

    <div class="cn-wrapper cn-aboutpage">
        {% comment %}
            {squarespace.main-content}
        {% endcomment %}

        <div class="row">
            <div class="half">
                <a class="cn-anchor" name="brand"></a>
                <h3>The Brand</h3>
                <p>
                    Christy Natsumi is a San Francisco CA based independent design studio that creates modern jewelry essentials. We aim to make wearable fine jewelry so you can effortlessly adorn your life with meaningful, subtle, and artful details. From single stud earrings, engagement and wedding rings, to commissioned designs, all of our jewelry is created with the hope that it will be lovingly worn for a lifetime and passed on as future heirlooms.
                </p>
                <p>
                    Our downtown San Francisco workshop is open for visits by appointment only (no walk-ins). <a href="/pages/contact">We’d love to hear from you</a> if you’d like to see some of our work in person.
                </p>
                <a class="cn-anchor" name="process"></a>
                <h3>A Sustainable Process</h3>
                <p>
                    We think a lot about beauty -- not only in creating beautiful products, but in making them in a way that enhances the beauty in the lives of the people who contribute to its creation and the environment in which the materials come from. Some of the ways we do this are by working with vendors with transparent supply chain, practicing eco-minded studio processes, using antique, post-consumer, and/or domestically sourced gems and recycled metals whenever possible, and by consciously designing for quality and longevity. By purchasing from Christy Natsumi, you are not only supporting skilled craftsmen and women in San Francisco, but also a network of vendors who are committed to celebrating and respecting the earth and it’s beautiful resources.
                </p>
            </div>
            <div class="half">
                <a class="cn-anchor" name="designer"></a>
                <h3>Designer Story</h3>
                <p>
                    One of Christy Natsumi’s favorite things to do is to make jewelry for special occasions. She believes that being part of a celebration of love in her own small way is one of the most fulfilling parts of being a jeweler.
                </p>
                <p>
                    Her fascination with love stories stems from her own parents. The fact that any two people can be lucky enough to find someone they want to spend their life with is a blessing. But what intrigued Christy even further was how her Japanese mom and American father managed to break barriers of culture, language, and judgements in favor of love, tolerance, and open-mindedness.
                </p>
                <p>
                    With her family history, and having grown up spending equal amounts of time in Tokyo and California, Christy always felt deeply that she wanted to embody and honor our connectedness beyond culture, language, looks, and gender; to find a vocation that allows her to celebrate how we love and are loved in its infinite forms.
                </p>
                <p>
                    On a whim, Christy signed up for her first metalsmithing class as a creative outlet from her pre-med and psychology studies. As a little luck would have it, on that day she met both her love of working with metal and her now husband. Since then, Christy has further pursued her jewelry training at Revere Academy of Jewelry Arts in San Francisco and with numerous visiting jewelry masters from around the world. Five years after her first class, Christy decided to start her own business in 2012. She now creates out of her workshop in downtown San Francisco, designing and making jewelry that merges her clean and minimal design aesthetic with her deeply felt values of love and connection.
                </p>
            </div>
        </div>

        <div class="row row--btnRow">
            <div class="fourth">
                <span>shop</span>
                <a class="button" href="/collections">the collection</a>
            </div>
            <div class="fourth">
                <span>shop</span>
                <a class="button" href="/collections/wedding">wedding jewelry</a>
            </div>
            <div class="fourth">
                <span>inquire about</span>
                <a class="button" href="/pages/custom">custom jewelry</a>
            </div>
            <div class="fourth">
                <span>schedule a</span>
                <a class="button" href="/pages/workshop-visit">workshop visit</a>
            </div>
        </div>
    </div>


    <div class="row row--imgRow">
        <div class="fourth">
            <img class="full" src="{{ 'christynatsumi-process-1.jpg' | asset_url }}"/>
        </div>
        <div class="fourth">
            <img class="full" src="{{ 'christynatsumi-process-2.jpg' | asset_url }}"/>
        </div>
        <div class="fourth">
            <img class="full" src="{{ 'christynatsumi-process-3.jpg' | asset_url }}"/>
        </div>
        <div class="fourth">
            <img class="full" src="{{ 'christynatsumi-process-4.jpg' | asset_url }}"/>
        </div>
    </div>


    <div class="cn-wrapper cn-aboutpage">
        <a class="cn-anchor" name="stockists"></a>

        <div class="row">
            <div class="half">
                <h3>View and Purchase At:</h3>
                <h4><a href="https://www.crown-nine.com/collections/christy-natsumi" target="_blank">Crown Nine</a></h4>
                <p>
                    Downtown Oakland, California
                </p>
                <h4><a href="http://www.gallery-of-jewels.com/jewelry-designers/christy-natsumi" target="_blank">Gallery of Jewels - Union Square</a></h4>
                <p>
                    Union Square, San Francisco, California
                </p>
                <h4><a href="http://www.gallery-of-jewels.com/jewelry-designers/christy-natsumi" target="_blank">Gallery of Jewels - Fillmore Street</a></h4>
                <p>
                    Fillmore &amp; California, San Francisco, California <span class="cn-note">(bridal jewelry only)</span>
                </p>
                <h4><a href="https://www.google.com/maps/place/Zaver+%26+Mor/@37.8804668,-122.2708367,17z/data=!4m13!1m7!3m6!1s0x80857ea6d3970a21:0x7c4fa2d83692a742!2s2111+Vine+St+e,+Berkeley,+CA+94709!3b1!8m2!3d37.8804668!4d-122.268648!3m4!1s0x80857ea6d3dd62cd:0xd2b701d4a7c27b43!8m2!3d37.8803993!4d-122.2686217" target="_blank">Zaver &amp; Mor</a></h4>
                <p>
                    Downtown Berkeley, California
                </p>
                <h4><a href="/pages/contact">Visit our Workshop</a> <span class="cn-note">(by appointment only)</span></h4>
                <p>
                    Downtown San Francisco, California
                </p>
            </div>
            <div class="half">
                <h3>Featured In:</h3>
                <p>
                    <a target="_blank" href="http://www.ruemag.com/editors-picks/interviews/arcn-jewelry-thats-twice-as-nice"><img class="cn-aboutpage__press-img" width="260" src="{{ 'christynatsumi-press-ruedaily.png' | asset_url }}"/></a>
                    <a target="_blank" href="http://www.7x7.com/style/2015-holiday-gift-guide-chic-local-accessories-fashion-mavens"><img class="cn-aboutpage__press-img" width="160" src="{{ 'christynatsumi-press-7x7.png' | asset_url }}"/></a>
                    <a target="_blank" href="http://www.sfchronicle.com/style/article/Rare-connection-leads-to-unique-jewelry-collection-6744331.php"><img class="cn-aboutpage__press-img" width="320" src="{{ 'christynatsumi-press-sfchronicle.png' | asset_url }}"/></a>
                    <a><img class="cn-aboutpage__press-img" width="240" src="{{ 'christynatsumi-press-dailycandy.png' | asset_url }}"/></a>
                    <br/>
                </p>
                <h3>Proud member of:</h3>
                <p>
                    <a href="//www.sfmade.org/members/christy-natsumi" target="_blank"><img width="100" class="cn-aboutpage__press-img" src="{{ 'badge-sfmade.png' | asset_url }}"/></a>
                    <a href="//www.ethicalmetalsmiths.org/" target="_blank"><img width="100" class="cn-aboutpage__press-img" src="{{ 'badge-ethical_metalsmiths.png' | asset_url }}"/></a>
                </p>
            </div>
        </div>

    </div>
</main>