<!-- /templates/page.custom.liquid -->
<main>
    <div class="cn-wrapper cn-wrapper--top cn-custompage">

        <a class="cn-anchor" name="introduction"></a>
        <div class="row">
            <div class="oneThird cn-custompage__intro-pic-wrapper">
                <img src="{{ 'christynatsumi-custom-stack-rings.jpg' | asset_url }}"/>
            </div>
            <div class="twoThird">
                <p>
                    Shopping for fine jewelry can be overwhelming. You want a unique piece of jewelry so you can cherish, celebrate, and wear reminders of the meaningful people and moments of your life. But you also want to make sure that you are making right practical choices when purchasing a piece of fine jewelry.
                </p>
                <p>
                    Christy Natsumi specializes in creating timeless designs with subtle and unique details that will be tailor made to fit you and your lifestyle. We don’t believe that the biggest diamond is always the best option and never want our customers to feel intimidated reaching out to us. We really care that you are comfortable with the entire process and walk away excited about wearing your new jewelry. We create everything in San Francisco and work hard to partner with metal refiners and gem vendors who care about where and how their goods are sourced. Most importantly, all of our jewelry is created with the hope that it will be lovingly worn for a lifetime and passed on as future heirlooms.
                </p>
                <p>
                    We’ve written lots of information for you on what we believe are the major considerations when purchasing a fine jewelry. Have a read through and when you are ready, fill out the form below to get the process started!
                </p>
            </div>
        </div>
    </div>


    <div class="row row--imgRow">
        <div class="fourth">
            <img class="full" src="{{ 'christynatsumi-custom-ring1.jpg' | asset_url }}"/>
        </div>
        <div class="fourth">
            <img class="full" src="{{ 'christynatsumi-custom-ring2.jpg' | asset_url }}"/>
        </div>
        <div class="fourth">
            <img class="full" src="{{ 'christynatsumi-custom-ring3.jpg' | asset_url }}"/>
        </div>
        <div class="fourth">
            <img class="full" src="{{ 'christynatsumi-custom-ring4.jpg' | asset_url }}"/>
        </div>
    </div>


    <div class="cn-wrapper cn-custompage">
        <a class="cn-anchor" name="services"></a>
        <h2>Common services:</h2>

        <div class="row">
            <div class="half">
                <h3>Customization</h3>
                <p>
                    There is a design you like in our collection, but you’d would like to change 1-2 elements of it to best fit your style and needs. It may be a particular stone, a different metal, a design detail that you would like to add or change, or special engraving services. Additional fees may apply depending on the type and extent of customization required.
                </p>
            </div>
            <div class="half">
                <h3>Heirloom Redesign</h3>
                <p>
                    You have heirloom jewelry that is sentimental to you but never wear. We can take your existing piece to incorporate it into a new piece of jewelry that reflects your style so you can wear it everyday. Depending on the gems you have, heirloom components can be incorporated into customized or full custom designs.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="half">
                <h3>Full Custom Design</h3>
                <p>
                    We start from scratch to make exactly what you’d like to wear. This process requires the most time, energy, and cost, but results in a one-of-a-kind piece of jewelry created just for you.
                </p>
                <p>
                    <img class="full" src="{{ 'christynatsumi-stones.jpg' | asset_url }}"/>
                </p>
            </div>
            <div class="half">
                <h3>Diamond and Gem Sourcing</h3>
                <p>
                    We are passionate about using materials that are both beautiful and have minimal impact on the environment. Some options include antique diamonds, recycled/post consumer diamonds, lab created diamonds and domestic gemstones.
                </p>
                <p>
                    In some instances, you may be interested in sourcing a gem stone first before committing to a design. Availability is always changing with our alternative gem/diamond sources and searching for the perfect stone for you requires time and energy. We request a non-refundable deposit of $150 to start the gem sourcing process. This fee will be applied toward the cost of your final jewelry piece.
                </p>
            </div>
        </div>



        <a class="cn-anchor" name="process"></a>
        <h2>Collaboration Process:</h2>

        <div class="row">
            <div class="half">
                <h3>Consultation</h3>
                <ol>
                    <li><b>Connect via email:</b> fill out the custom form below and get in touch. We’ll briefly discuss your jewelry needs. If necessary we can schedule a consultation.</li>
                    <li><b>Consultation:</b> optional complimentary 30min in-person meeting or skype consultation to look/try samples, answer any questions, price options, and discuss your design further.</li>
                </ol>
            </div>
            <div class="half">
                <h3>Design Process <span class="cn-note">(after installment is received)</span></h3>
                <ol>
                    <li><b>Sketching:</b> 2-3 sketches based on our discussion + 1 round of edits if necessary.</li>
                    <li><b>Modeling:</b> hand carved wax model or computer generated model + final approval.</li>
                    <li><b>Production:</b> Final jewelry piece is created in the metal of your choice, polished, and set with stones, engraving option available.</li>
                    <li><b>Wear, celebrate, keep forever.</b></li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="half">
                <img class="full" src="{{ 'christynatsumi-custom-wax.jpg' | asset_url }}"/>
            </div>
            <div class="half">
                <img class="full" src="{{ 'christynatsumi-custom-finished.jpg' | asset_url }}"/>
            </div>
        </div>



        <a class="cn-anchor" name="faq"></a>
        <h2>Custom work FAQ:</h2>

        <div class="cn-custompage__faq">
            <div class="row">
                <div class="oneThird">
                    <h4>I don’t live in San Francisco!  Can I still work with you?</h4>
                </div>
                <div class="twoThird">
                    <p>
                        Absolutely!  We can connect via email, skype, or phone to discuss your jewelry needs. Completed jewelry will be mailed via fully insured overnight mail.
                    </p>
                    <p>
                        International customers, please note that many countries have import taxes and dues when shipping valuables. Please check the terms of your country as Christy Natsumi is not responsible for charges incurred through customs and duties.
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="oneThird">
                    <h4>Can you tell me more about the different diamond options you have?</h4>
                </div>
                <div class="twoThird">
                    <p>
                        Christy Natsumi supports vendors that supply diamonds and gems that are fairtrade and eco-friendly. This means incorporating antique diamonds from 1800-1950s, post-consumer recycled diamonds, and lab created diamonds. We absolutely love antique diamonds for their true rarity, individuality, and character.
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="oneThird">
                    <h4>What about your gemstones?</h4>
                </div>
                <div class="twoThird">
                    <p>
                        Not all gemstones are created equal, but there are many fairtrade and eco-minded options. Christy Natsumi works with antique gem specialist who can provide post-consumer recycled gemstones. We also love to work with domestically-mined Montana sapphires that offer a stunning range of colors from dark blues, light blues, greens, pinks, and purples. Finally, for a truly unique gem, we also work directly with individual stone cutters who travel to and purchase rough material directly from the mined sites.
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="oneThird">
                    <h4>How much is a 1ct diamond?</h4>
                </div>
                <div class="twoThird">
                    <p>
                        Diamonds are valued based on multiple factors and prices can change dramatically even if the size of the stone remains the same. We are happy to help you choose a diamond based on your priorities and budget.
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="oneThird">
                    <h4>What is the right price to spend on an engagement ring?</h4>
                </div>
                <div class="twoThird">
                    <p>
                        We strongly recommend developing a budget you are comfortable with and letting us work with you to find the best stone for your needs and price point. Christy Natsumi is a small, local, designer jewelry studio and our prices reflect this.  However, one of the best things about working directly with a designer is the attention to detail, customization, and a truly personal experience creating the rings that you will wear everyday to represent your love. We really care that you are comfortable with the entire process and walk away excited about wearing your new jewelry.
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="oneThird">
                    <h4>What is a fully custom piece of jewelry going to cost?</h4>
                </div>
                <div class="twoThird">
                    <p>
                        It really depends on your specific design. However, creating design ideas specific for you is a labor intense process and most projects will usually start at a minimum of $1000. Please note that we only offer custom services in fine metals (gold and platinum) and do not offer custom designs in sterling silver.
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="oneThird">
                    <h4>What metal do you work with?</h4>
                </div>
                <div class="twoThird">
                    <p>
                        Christy Natsumi uses recycled fine metals including 14K and 18K yellow gold, white gold, rose gold. Special orders may be placed in platinum. We do not offer our wedding line in silver, stainless-steel, or other alternative metals.
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="oneThird">
                    <h4>What engraving service do you provide?</h4>
                </div>
                <div class="twoThird">
                    <p>
                        Engraving a special message, name, initials, or important dates is one of the best ways to personalize your custom jewelry. Christy Natsumi offers both machine and hand engraved options, the later done by a master engraver by hand with the results akin to calligraphy on metal. Both engraving services are available for an additional charge. Read more about engraving <a href="//www.christynatsumi.com/journal/2016/5/25/what-should-i-engrave-in-my-wedding-ring">here</a>.
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="oneThird">
                    <h4>I have stones and/or metal already. Would you be able to use it?</h4>
                </div>
                <div class="twoThird">
                    <p>
                        Yes -- We love working with heirlooms and are happy to help re-appropriate diamonds and gemstones. Melting metal is a labor intensive process. While we are happy to do so, we recommend doing so for sentimental reasons and not for cost-savings.
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="oneThird">
                    <h4>Help, I don’t know my partner’s ring size!</h4>
                </div>
                <div class="twoThird">
                    <p>
                        The best and accurate way is to get their finger measured in at a jewelry store. But if you don’t want to spoil the surprise, try taking a ring they wear on their ring finger and seeing if it fits one of yours. Then we can measure your finger during our consultation. Alternatively, you can bring in one of their rings to us and we can measure the ring. Not all designs can be resized once the stones are set, so please let us know if you are unsure of the size. We offer one complimentary ring sizing the first 3 months after purchase.
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="oneThird">
                    <h4>Do you offer payment plans?</h4>
                </div>
                <div class="twoThird">
                    <p>
                        No, we do not offer payment plans. However, we do ask for an installment of half of the total estimate to start the custom project and ask for the balance due upon completion, effectively dividing the total into two payments.
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="oneThird">
                    <h4>I have a photo of a design that I really like. Can you remake it for me?</h4>
                </div>
                <div class="twoThird">
                    <p>
                        It is great to have an inspirational starting point for designing your jewelry. In most cases we can discuss how best to suit the style to you and alter it to best fit your needs. This said, we are always mindful of copying other designers' work. If you really have your heart set on an exact and unique design by a particular artist, we encourage you to reach out directly to the original designer/manufacturer.
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="oneThird">
                    <h4>How long does it take to have a piece of jewelry made-to-order?</h4>
                </div>
                <div class="twoThird">
                    <p>
                        Most designs and customizations require 4-8weeks for completion. Fully customized design may take longer depending on the time necessary to prototyping a design. If you’d like your jewelry sooner than the standard time frame, rush deliveries are available for an additional fee of $300.
                    </p>
                </div>
            </div>
        </div>
    </div>


    <div class="row row--imgRow">
        <div class="fourth">
            <img class="full" src="{{ 'christynatsumi-custom-1.jpg' | asset_url }}"/>
        </div>
        <div class="fourth">
            <img class="full" src="{{ 'christynatsumi-custom-2.jpg' | asset_url }}"/>
        </div>
        <div class="fourth">
            <img class="full" src="{{ 'christynatsumi-custom-3.jpg' | asset_url }}"/>
        </div>
        <div class="fourth">
            <img class="full" src="{{ 'christynatsumi-custom-4.jpg' | asset_url }}"/>
        </div>
    </div>


    <div class="cn-wrapper cn-custompage">
        <a class="cn-anchor" name="testimonials"></a>
        <h2>Testimonials</h2>

        <div class="row cn-custompage__testimonials">
            <div class="half">
                <p>
                    [My fiance, now wife] definitely loves her engagement ring. I catch her just looking at it a lot. You did awesome, thanks for everything.
                    <span>&mdash; Bryan, Oakland, engagement ring</span>
                </p>
                <p>
                Dear Christy, My husband is so delighted and deeply moved by the bracelet you made for us. It is beautiful and your craftwomanship is outstanding. Looking forward to working with you in the new year on some new pieces.
                <span>&mdash; Susan, San Francisco, custom bracelet</span>
                <p>
                    Thank you Christy, for making the experience of creating [my daughter’s] wedding ring so perfect from beginning to end. I was truly astounded when I saw it on her hand, you captured their spirit entirely….Thank you for preserving the memory [by incorporating my heirloom jewelry] so beautifully yet adding their own distinctive style. I was moved to tears.
                    <span>&mdash; Christina, San Francisco, engagement ring</span>
                </p>
                <p>
                    Christy, my gorgeous pendant/necklace just arrived! When I opened the box, my mouth just dropped open and my heart beat just a little bit faster. It was absolutely what I was hoping for!! Thank you from the bottom of my heart for designing such a gorgeous piece that celebrates my 21 amazing years of marriage. This is going to be my everyday necklace and it makes me smile :)..Thank you!!!!
                    <span>&mdash; Donna, Virginia, custom necklace</span>
                </p>
                <p>
                    Christy, I sent [my husband] that photo [of my earrings] and by the time I got to my car he had replied "THAT'S what I wanted to give you for our anniversary."  Thank you so much!
                    <span>&mdash; Melissa, San Francisco, Heirloom Redesign</span>
                </p>
            </div>
            <div class="half">
                <p>
                    [My wife] looooooves her wedding band. She definitely knows what she likes and you created what she envisioned. Equally as important, she is a huge fan of my wedding band as well. Thank you so much Natsumi!!
                    <span>&mdash; Daisuke, Los Angeles CA, Custom Wedding Rings</span>
                </p>
                <p>
                    Every step in the process of having a piece of custom jewelry made for me by Christy was a joy. Her love, thoughtfulness, and craftsmanship are apparent in every detail ... It’s exquisite. It feels substantial and precious to hold, is beautiful to wear, and makes me feel both feminine and powerful. I feel connected to ancient symbolism through it, but I also feel modern, unique, and edgy…. I am proud and grateful to have this piece close to my heart. Thank you, Christy!
                    <span>&mdash; Erin, Wisconsin, custom necklace</span>
                </p>
                <p>
                    I love the earrings even more in person. I have been wearing them non-stop.
                    <span>&mdash; Amy, Washington DC, custom earrings</span>
                </p>
                <p>
                    Christy is so wonderful! She's extremely thoughtful in her approach. Her aesthetic is flawless and she is super talented. I found Christy initially to re-design my wedding bands after a not so great experience the first time. Christy really listened to what I had to say and understood my vision after the first meeting. Her suggestions for how to edit the design were spot on. Christy was flexible/accommodating during the entire process. I would recommend Christy to anyone and hope to work with her again in the future!
                    <span>&mdash; Molly, San Francisco, Heirloom Redesign</span>
                </p>
            </div>
        </div>




        <a class="cn-anchor" name="howtoorder"></a>
        <h2>How to order</h2>

        <div class="row cn-custompage__orderform">
            <div class="oneThird">
                <p>Purchase directly through the shop if you already know your ring size. For customizations and further questions, please fill out the following form:</p>
            </div>
            <div class="twoThird">
                {% section 'custom-form' %}
            </div>
        </div>




        <a class="cn-anchor" name="terms"></a>
        <h2>Terms &amp; details</h2>

        <div class="row">
            <div class="oneThird cn-custompage__terms-pic-wrapper">
                <img src="{{ 'christynatsumi-11-11-necklace.jpg' | asset_url }}"/>
            </div>
            <div class="twoThird">
                <ul>
                    <li>All custom and customized jewelry are non-returnable and non-refundable</li>
                    <li>Custom work is generally completely within 4-8 weeks depending on the design. Rush deliveries are available for a $300 fee</li>
                    <li>One complimentary resizing is included in the first 3 months after purchase</li>
                    <li>Custom projects require half of the total quote as a deposit to start the project. Balance is due prior to shipping or upon delivery for local pick-up.</li>
                    <li>Gemstone and/or diamond sourcing require a non-refundable fee of $150 which can be applied toward the final cost of your jewelry</li>
                    <li>Custom jewelry is guaranteed for 1 year after the final date of completion and payment. We are not responsible for accidental damage or negligence by the wearer.</li>
                    <li>If we are working with your heirloom stones, you’ll be asked to sign a waiver releasing us of any liability to your property</li>
                </ul>
            </div>
        </div>
    </div>
</main>

{{ 'main-custom.js' | asset_url | script_tag }}